#index{
float: left;
position: fixed; top: 150px; left: 20px;
padding-right: 5px;
}
aside{
    float: right;
     top: 110px; right: 20px;
    size-adjust: table;
}
#datos, td, #tablaclima, #tablaorientacion, #tablaleyenda, #tablalcaldes{
    
    border-style: solid;
    border-collapse: collapse;
    text-align: center;
}
#tablaleyenda{
    margin-top: 10px;
    border-bottom: none;
    border-right: none;
    position: absolute; left: 1300px; top: 2870px; right: 50px;
}
#inicio{
    margin-left: 24%;
}
#tablaorientacion{
    position: relative;
    left: 30%;
}
header{
    font-size: 27px;
    text-align: center;
}
#inicio h1{
    font-size: 30px;
    margin-left: 5px;
}
#tablaclima{
    margin-left: 50px;
}
#inicio p{
    margin: 10px;
}
#tablalcaldes{
    position: relative;
    left: 25%;
    margin-top: 10px;
}
#formulario{
    text-align: center;
}
#navegacion{
    position: relative;
    float: left;
    margin: 10px;
    padding: 5px;
}
#inicial p{
    margin: 10px;
}
#inicial h1{
    font-size: 30px;
    margin-left: 5px;
}